/* Navigation
  =============== */

  header.site-nav {
    background-color: $navbar-color;
  }

  nav.navigation {

  }

  ul.nav-links {
    li {
      i {
        padding-right: 0.5em;
      }
      a {
        color: $accent-color;
        font-weight: 600;
      }

      align-self: stretch;
      display: flex;
      align-items: center;
    }

    li.active, li.active>a {
      color: $nick-green;
      font-weight: 800;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    list-style: none;
    height: 60px;
    padding: 0;
    margin: 0;
  }
