/* Nick Extra CSS */

header {
  //margin-top: 60px;
	background: #fff url('../images/trentAlpha.png') no-repeat left center / cover;
  padding: 150px 0;
}

#headline {
  font-size: 6em;
  color: black;
  text-shadow: 3px 3px 4px white;
  margin-top: -3.5rem;
  text-transform: uppercase;
}


#myintro {
  margin-top: 5em;
  //color: #ff5c5c;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
