/* Nick Extra CSS */

.hero {
  //margin-top: 60px;
	background: #ccc url('../images/trentAlpha.png') no-repeat left center / cover;
	background-position: 0% 30%;
  padding: 200px 0;
}

#brand {
	font-family: $heading-font-family;
	color: $accent-color;
	margin-right: 50px;
	align-self: center;
	border-bottom: 1px dotted $accent-color;
}

#headline {
  font-size: 6em;
  color: black;
  text-shadow: 3px 3px 4px white;
  margin-top: -3.5rem;
	text-align: center;
  // text-transform: uppercase;
}


#myintro {
  margin-top: 5em;
  //color: #ff5c5c;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.installation {
	background: white;
	text-align: center;
}

@media screen and (min-width: 800px) {
	.setup {
		background: #fafafa;
		margin-bottom: 60px;
	}
	.installation {
		padding: 20px;
		border: 1px solid #efefef;
		margin-top: -100px;
		margin-bottom: -100px;
	}
}
