/* Nick Extra CSS */




#myintro {
  margin-top: 5em;
  //color: #ff5c5c;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.installation {
	background: white;
	text-align: center;
}

@media screen and (min-width: 800px) {
	.setup {
		background: #fafafa;
		margin-bottom: 60px;
	}
	.installation {
		padding: 20px;
		border: 1px solid #efefef;
		margin-top: -100px;
		margin-bottom: -100px;
	}
}
